---
title: 月別アーカイブ
permalink: /archives.html
---

{% assign yearmonths = "" | split: "|" %}
{% assign count = 0 %}
{% assign prev = yearmonths_dupli | first %}
{% for ym in yearmonths_dupli %}
    {% if prev == ym %}
        {% assign count = count | plus: 1 %}
    {% else %}
        {% assign item = "" | split: "" | push: prev | push: count %}
        {% assign yearmonths = yearmonths | push: item %}
        {% assign count = 1 %}
    {% endif %}
    {% assign prev = ym %}
{% endfor %}
{% assign item = "" | split: "" | push: ym | push: count %}
{% assign yearmonths = yearmonths | push: item %}
