<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<link href='https://unpkg.com/destyle.css@3.0.2/destyle.min.css' rel='stylesheet'/>
<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer ></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
