/* 全体設定 */
:root{
  --backcolor: hsl(0 0% 100%);
  --subbackcolor: hsl(0 0% 90%);
  --textcolor: hsl(200 30% 20%);
  --subtextcolor: hsl(200 30% 25%);
  --linkcolor: hsl(180 60% 30%);
  --darklinkcolor: hsl(180 40% 70%);
  scroll-padding-top: 60px;
  --back: var(--backcolor);
  --subback: var(--subbackcolor);
  --text: var(--textcolor);
  --subtext: var(--subtextcolor);
  --link: var(--linkcolor);
  --accent: var(--darklinkcolor)
}
/*@media(prefers-color-scheme: dark){*/
:root[data-theme="dark"]{
  --back: var(--textcolor);
  --subback: var(--subtextcolor);
  --text: var(--backcolor);
  --subtext: var(--subbackcolor);
  --link: var(--darklinkcolor);
  --accent: var(--linkcolor)
}
/*}*/
@media(min-width: 961px){
  :root{
    scroll-padding-top: 24px;
  }
}

html{
  -webkit-text-size-adjust:100%;
  scroll-padding-top: 24px;
  font-size: 62.5%;
  overflow-y: scroll;
}
body{
  background: var(--back);
  color: var(--text);
  font-size: 1.6rem;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}
.wrapper{
  padding: 0;
  margin: auto;
  width: 100%;
  max-width: 720px;
  min-height: 100%;
}
a{
  color: var(--link);
  text-underline-offset: .2em;
}
img, iframe{
  max-width: 100%;
  height: auto
}
[type="radio"]{
  -webkit-appearance:radio;
  appearance:radio
}
