---
layout: default
---

<article class="post">
  <div class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <time class="post-date">{{ page.date | date: "%Y/%m/%d" }}</time>
      <ul>
        {% for tag in page.tags %}
        <li><a href="/blog/tags.html#tag_{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="post-body">
      {{ content }}
    </div>

    {% if page.next or page.previous %}
    <div class="blog-pager">
      {% if page.next %}
      <a class="blog-pager-newer-link" href="{{ page.next.url | relative_url }}">&lt; {{ page.next.title }}</a>
      {% endif %}
      {% if page.previous %}
      <a class="blog-pager-oler-link" href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} &gt;</a>
      {% endif %}
    </div>
    {% endif %}
    
  </div>
</article>
