---
layout: default
---

<article class="contents page">
  <div class="container">

    <div class="page__header">
      <h1 class="page__title">{{ page.title }}</h1>
      <p class="page__date">{{ page.date | date: "%Y/%m/%d" }}</p>
    </div>

    <div class="page__body">

      {{ content }}

    </div>

    {% if page.next or page.previous %}
    <div class="pager">
      {% if page.next %}
      <p class="pager__item--next">
        <a href="{{ page.next.url | relative_url }}">&lt; {{ page.next.title }}</a>
      </p>
      {% endif %}
      {% if page.previous %}
      <p class="pager__item--prev">
        <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} &gt;</a>
      </p>
      {% endif %}
    </div>
    {% endif %}
    
  </div>
</article>
